/*Font - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

body {
  justify-content: center;
  align-items: center;
  background: #252839;
  font-family: "Poppins", sans-serif;
}

.about {
  word-spacing: 0.1cm;
}

.Namehead {
  text-align: center;
  font-family: "Poppins";
  font-size: 2.5em;
  color: #252839;
  -webkit-text-stroke: 1vh #32649d;
  text-transform: uppercase;
  display: block;
}

.Namehead:hover {
  color: #329d52;
  transition: ease 1s;
  font-size: 3em;
}

.Namehead:not(:hover) {
  color: #252839;
  transition: ease 1s;
  font-size: 10vw;
}

.navlinks {
  padding-top: 0.7cm;
  text-align: right;
  padding-right: 1cm;
  word-spacing: 1cm;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: lightblue;
  transform: 0.2s;
  overflow: hidden;
}

a:hover {
  color: cornflowerblue;
  transition: ease 1s;
}


* {
  font-family: "Poppins";
  box-sizing: border-box;
}


.instacolor {
  text-align: center;
  font-size: 4vw;
  word-spacing: 2vh;
  border: darkslategray solid 1vh;
  border-radius: 1rem 1rem 1rem 1rem;
  display: block;
  margin: 1vw 10vw;
}
.instacolor:not(:hover) {
  color: lightblue;
  transition: ease 1s;
}

.aboutmeee {
  text-align: center;
  font-size: 4vw;
  word-spacing: 1vw;
  border-radius: 1rem 1rem 1rem 1rem;
  display: block;
  border: darkslategray solid 1vh;
}

.aboutmeee:not(:hover) {
  color: lightblue;
  transition: ease 0.5s;
}

.instaimg {
  width: 35vw;
  padding-top: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nmehd {
  margin: 4vw 20vw;
  margin-top: 0vw;
}

.aboutwt {
  margin: 1vw 20vw;
}

/*Name Tag*/
.scannt {
  text-align: center;
  color:  lightblue;
  text-transform: uppercase;
  word-spacing: 1vw;
  font-family: sans-serif;
}
